<h3>
  Add User
</h3>

<div>
  <form [formGroup]="myForm" (submit)="save(myForm.value)" novalidate>
    <div>
      <label>First Name*</label>
      <input type="text" formControlName="first_name"   required />
      <small [hidden]="myForm.controls.first_name.valid || myForm.controls.first_name.submitted">{{firstNameError}}</small>
    </div>
    <div>
      <label>Last Name*</label>
      <input type="text" formControlName="last_name" required />
      <small [hidden]="myForm.controls.last_name.valid || myForm.controls.last_name.submitted">{{firstNameError}}</small>
    </div>
    <div>
      <label>Email*</label>
      <input type="text" formControlName="email" required />
      <small [hidden]="myForm.controls.email.valid || myForm.controls.email.submitted">{{firstNameError}}</small>
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>


</div>
